.todo_data{
  display: grid;
  align-items: flex-end;
  width: 45%;
  margin: 30px auto;
  height: 292px;
  border-radius: 18px;
  background: whitesmoke;


  .title_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    p{
      font-size: 10px;
      transition: all .5s ease;
    }
  }



  .todo_input_data{
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.active{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: none;
      width: 100%;
      gap: 8px;
    }

    .todo_content_data{
      width: 90%;
      height: 10vh;
      background-color: rgba(255, 254, 254, 0.9);
      border-radius: 10px;
      padding: 20px;

      .todo_content{
        line-height: 2;
        height: 10vh;
        overflow-x: hidden;
      }


      &.active{
        display: none;
      }
    }

    .todo_input{
      display: none;

      &.active{
        display: block;
        width: 90%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #E2E1E1;
        color: #5b5b5b;
        outline: none;
      }
    }

    .change_btn{
      display: none;

      &.active{
        display: block;
        margin-top: 10px;
        padding: 10px;
        width: 54%;
        border-radius: 6px;
        background: #5361e0;
        color: whitesmoke;
        border: none;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
  
        &:hover{
          background: rgb(8, 0, 255) ;
        }
      }
    }
  }




  .button_data{
    position: relative;
    display: flex;
    width: 100%;


    .completed_button{
      background-color: rgb(101, 164, 5);
      width: 100%;
      height: 50px;
      cursor: pointer;
      border: none;
      


      .completed_button_icons{
        border-radius: 50%;
        background-color: white;
        color: rgb(101, 164, 5);
      }

      .completed_bix_button_icons{
        border-radius: 50%;
        background-color: rgb(255, 254, 254);
        color: rgb(101, 164, 5);
      }
    }
    

    .change_button{
      background-color: blue;
      width: 100%;
      height: 50px;
      cursor: pointer;
      border: none;
      border-radius: 0 0 18px 0;

      .change_button_icons{
        color: white;
      }
    }

    .delete_button{
      background-color: red;
      width: 100%;
      height: 50px;
      cursor: pointer;
      border: none;
      border-radius: 0 0 0 18px;

      .delete_button_icons{
        color: white;
      }
    }

  } 
}



@media(max-width:765px){
  .todo_data{
    width: 90%;
  }
}


