@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color:rgb(59, 62, 65);
  font-family: 'Audiowide', cursive;
}


/* accupationfrontend@gmail.com */
/* front.hkss.10 */